<script setup lang="ts">
import QrCodeOverlay from "./components/QrCodeOverlay.vue";
import {useOverlayStore} from "./store";
import {storeToRefs} from "pinia";

const overlayStore = useOverlayStore()
const {overlayVisible} = storeToRefs(overlayStore)
import Toast from 'primevue/toast';


</script>

<template>
  <Toast/>
  <QrCodeOverlay v-if="overlayVisible"/>
  <router-view></router-view>
</template>

<style scoped>
</style>
