<template>
  <div :class="'button ' + buttonType + ' ' + buttonSize">
    <div class="icon" v-if="icon">
      <Icon :name="icon"/>
    </div>
    <div class="title">
      {{title || 'Установи значение кнопки ёпта'}}
    </div>
  </div>
</template>

<script setup lang="ts">

import {computed} from "vue";
import {ButtonType} from "../types/button-type.enum.ts";
import Icon from "./Icon.vue";
import {ButtonSize} from "../types/button-size.enum.ts";

const buttonType = computed(() => {
  return props.type || ButtonType.SUCCESS
})
const buttonSize = computed(() => {
  return props.size || ButtonSize.REGULAR
})

const props = defineProps<{
  title: string,
  type?: ButtonType,
  icon?: string,
  size?: ButtonSize
}>()

</script>

<style scoped lang="scss">
.button {
  white-space: nowrap;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-weight: bolder;
  transition: .15s;
  cursor: pointer;

  * {
    user-select: none;
  }

  .icon {
    height: 18px;
  }
  
  &.danger {
    background-color: #FF8C8C;
    &:hover {
      background-color: #ff5959;
    }
  }

  &.success {
    background-color: #4FAF3B;
    &:hover {
      background-color: #40db6d;
    }
  }

  &.info {
    background-color: #549ff5;
    &:hover {
      background-color: #1f85ff;
    }
  }

  &.big {
    padding: 20px 40px;
    font-size: 22px;
  }

  &.medium {
    padding: 15px 30px;
    font-size: 18px;
  }

  &.regular {
    padding: 10px 20px;
    font-size: 14px;
  }

  * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>