<template>
  <div class="wrap">
    <div class="card-wrap" :style="cardWrapStyle">
      <Card>
        <div :class="'dragDropFile ' + dragStatus">
          <input type="file" multiple v-on:change="onFileUploaded" @dragenter="dragEnter" @dragleave="dragLeave">
          <Button title="Загрузить файлы" :size="ButtonSize.BIG"/>
          <Text size="xl" align="center" v-if="!isMobile()">
            или перетащите файлы в эту область
          </Text>
        </div>
      </Card>
    </div>
    <ProgressBar :raw-progress="progress" v-if="isUploading"/>
  </div>
</template>

<script lang="ts" setup>

import {ButtonSize} from "../types/button-size.enum.ts";
import Button from "./Button.vue";
import Text from "./Text.vue";
import Card from "./Card.vue";
import {computed, ref} from "vue";
import {uploadFile} from "../api";
import ProgressBar from "./ProgressBar.vue";
import {useLoadedFileStore} from "../store";
import {isMobile} from "../helpers";
import JSZip from "jszip";

const dragStatus = ref('')
const progress = ref(0)

const isUploading = ref(false)
const cardWrapStyle = computed(() => {
  return isUploading.value ? 'opacity: .25' : 'opacity: 1'
})

const loadedFileStore = useLoadedFileStore()
const {setUploadedFile} = loadedFileStore

const onFileUploaded = async (event: any) => {
  const files = event.target.files

  isUploading.value = true

  let file;

  if(files.length === 1) {
    file = files[0]
  } else {

    const zip = new JSZip()

    for (const item of files) {
      zip.file(item.name, item)
    }

    file = await zip.generateAsync({ type: 'blob' });
  }

  const response = await uploadFile(file, (data) => {
    progress.value = data.progress || 0
  })
  isUploading.value = false

  setUploadedFile(response.data)


  dragStatus.value = ''
}

const dragEnter = () => {
  dragStatus.value = 'drag'
}
const dragLeave = () => {
  dragStatus.value = ''
}

</script>

<style lang="scss" scoped>

.wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .card-wrap {
    transition: .5s;
  }
  .dragDropFile {
    padding: 55px 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border-radius: 15px;
    position: relative;

    input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    &.drag {
      background-color: rgba(151, 241, 140, 0.25);
    }
  }

}
</style>
