<template>
  <img v-svg-inline class="icon" :src="path">
</template>
<script setup lang="ts">

import {computed} from "vue";

const path = computed(() => {
  return `./icons/${props.name}.svg`
})

const props = defineProps<{
  name: string
}>()

</script>
<style>

</style>