<template>
<div class="input">
  <input :type="computedType" :placeholder="placeholder" v-model="model">
</div>
</template>

<script lang="ts" setup>
import {computed} from "vue";

const computedType = computed(() => {
  return props.type || 'text'
})

const model = defineModel()


const props = defineProps<{
  type?: string,
  placeholder?: string
}>()
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  flex: 1;
  input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #ccc;
    border-radius: 10px;
    padding: 10px;
  }
}
</style>