<template>
  <div class="progress">
    <div class="active" :style="style">

    </div>
    <div class="status">
      <Text weight="800" size="lg">
        {{percent}}%
      </Text>
    </div>
  </div>
</template>

<script setup lang="ts">

import Text from "./Text.vue";
import {computed} from "vue";

const percent = computed(() => {
  return Math.floor(props.rawProgress * 100) || 0
})

const style = computed(() => {
  return `width: ${percent.value}%`
})

const props = defineProps<{
  rawProgress: number,
}>()
</script>

<style lang="scss" scoped>
.progress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;

  .status {
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 25px;
    z-index: 10;
  }

  .active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 15px;
    background-color: #4FAF3B;
    z-index: 1;
    transition: .3s width;
  }
}

</style>