<template>
  <div class="backdrop" @click="hide">
    <Card>
     <div class="qr-wrap">
       <qrcode-vue :value="qrUrl" :level="level" :size="250" :render-as="renderAs" />
     </div>
    </Card>
    <Text size="xl" color="#fff" align="center">
      Ссылка скопирована в буфер обмена!
    </Text>
    <Text size="xl" color="#fff" align="center">
      {{qrUrl}}
    </Text>
  </div>
</template>

<script lang="ts" setup>

import {useOverlayStore} from "../store";
import {storeToRefs} from "pinia";
import { ref } from 'vue'
import QrcodeVue, { Level, RenderAs } from 'qrcode.vue'
import Card from "./Card.vue";
import Text from "./Text.vue";


const overlayStore = useOverlayStore()
const {qrUrl} = storeToRefs(overlayStore)
const {setOverlayVisibility} = overlayStore
const level = ref<Level>('Q')
const renderAs = ref<RenderAs>('svg')

const hide = () => {
  setOverlayVisibility(false)
}
</script>

<style lang="scss" scoped>
.backdrop {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, .75);


  .qr-wrap {
    padding: 20px;
  }
}
</style>