<template>
  <span :class="'text ' + textSize " :style="style">
    <slot/>
  </span>
</template>

<script setup lang="ts">

import {computed} from "vue";
import {TextSize} from "../types/text-size.type.ts";

const textSize = computed(() => {
  return props.size || 'md'
})

const style = computed(() => {
  return `font-weight: ${props.weight}; color: ${props.color || '#000'}; text-align: ${props.align || 'left'}`
})

const props = defineProps<{
  size?: TextSize,
  weight?: string,
  color?: string,
  align?: string
}>()

</script>

<style scoped lang="scss">
.text {
  color: #000;

  &.xs {
    font-size: 10px;
  }
  &.sm {
    font-size: 12px;
  }
  &.md {
    font-size: 14px;
  }
  &.lg {
    font-size: 18px;
  }
  &.xl {
    font-size: 22px;
  }
}
</style>