<template>

  <div class="wrap">
    <Card>
      <div class="uploaded-file">
        <div class="row">
          <Text size="xl" weight="900">{{ file.realName }}</Text>
        </div>
        <div class="row">
          <Text size="lg">
            <span :title="formattedDeleteDate">
              Удалится через {{ daysBeforeDelete }} {{ numWord(daysBeforeDelete, ['день', 'дня', 'дней',]) }}
            </span>
          </Text>
          <Text size="lg">{{ size }} MB</Text>
          <Text size="lg">{{ createdDate }}</Text>
          <Icon name="key" v-if="props.file?.isSecured"/>
        </div>
        <div class="row right buttons">
          <Button title="Удалить" icon="trash" @click="delFile" :type="ButtonType.DANGER"/>
          <Button title="Скачать" icon="download" @click="download" :type="ButtonType.INFO"/>
          <Button title="Скопировать ссылку" icon="link" @click="copy" :type="ButtonType.SUCCESS"/>
        </div>
      </div>
    </Card>
    <Card v-if="isSuccessPage">
      <div class="settings">
        <div class="row">
          <Input placeholder="Пароль" v-model="password" type="password"/>
          <Button title="Установить пароль" @click="setPassword"/>
        </div>
        <div class="row">
          <Input type="datetime-local" v-model="date"/>
          <Button title="Установить дату удаления" @click="setDate" :type="ButtonType.DANGER"/>
        </div>
      </div>
    </Card>

    <Button title="Загрузить еще" @click="goHome" v-if="isSuccessPage"/>
  </div>
</template>

<script lang="ts" setup>

import Card from "./Card.vue";
import Text from "./Text.vue";
import {FileItem, UploadedFile} from "../api/responses";
import {computed, ref} from "vue";
import {differenceInDays, format} from "date-fns";
import {ru} from "date-fns/locale";
import Button from "./Button.vue";
import {ButtonType} from "../types/button-type.enum.ts";
import {useOverlayStore} from "../store";
import Input from "./Input.vue";
import {deleteFile, patchFile} from "../api";
import {router} from "../router";
import Icon from "./Icon.vue";
import {numWord, showToast} from "../helpers";

const overlayStore = useOverlayStore()
const {setOverlayVisibility, setOverlayUrl} = overlayStore

const unsecuredCopyToClipboard = (text: string) => {
  const textArea = document.createElement("textarea");
  textArea.value = text;
  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();
  try {
    document.execCommand('copy');
  } catch (err) {
    console.error('Unable to copy to clipboard', err);
  }
  document.body.removeChild(textArea);
}

const copy = () => {
  try {
    unsecuredCopyToClipboard(props.file.publicPath)
    // navigator.clipboard.writeText(props.file.publicPath);
  } catch (e) {}
  setOverlayVisibility(true)
  setOverlayUrl(props.file.publicPath)
}
const delFile = async () => {
  await deleteFile(props.file.id)
  if (props.isSuccessPage) {
    await router.push({name: 'home'})
  }

  props.deleteCallback?.()

}
const download = () => {
  window.open(props.file.publicPath, "_blank");

}

const formattedDeleteDate = computed(() => {
  return format(new Date(props.file.expDate), 'dd.MM.yyyy HH:mm:ss')
})

const daysBeforeDelete = computed(() => {
  return differenceInDays(new Date(props.file.expDate), new Date())
})
const size = computed(() => {
  return Math.floor((props.file.sizeInBytes / 1048576) * 1000) / 1000
})
const createdDate = computed(() => {
  return format(new Date(props?.file?.createdAt), 'd MMMM yyyy HH:mm', {
    locale: ru
  })
})

const props = defineProps<{
  file: UploadedFile | FileItem,
  isSuccessPage: boolean,
  deleteCallback?: () => void
}>()


const password = ref('')
const date = ref('')
const setPassword = async () => {

  const response = await patchFile(props.file.id, {
    password: password.value
  })
  if(response?.data?.success) {
    showToast({ severity: 'success', summary: 'Успех', detail: 'Пароль установлен', life: 3500 })
  }

}
const setDate = async () => {

  const response = await patchFile(props.file.id, {
    expDate: new Date(date.value)
  })
  if(response?.data?.success) {
    showToast({severity: 'success', summary: 'Успех', detail: 'Дата удаления установлена', life: 3500})
  }
}

const goHome = async () => {
  await router.push({name: 'home'})
}

</script>

<style lang="scss" scoped>

.wrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;

  .uploaded-file {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
      display: flex;
      gap: 25px;
      @media screen and (max-width: 700px) {
        flex-direction: column;
        gap: 5px;
      }

      &.center {
        justify-content: center;
      }

      &.right {
        gap: 5px;
        justify-content: flex-end;
      }

      &.buttons {
        padding-top: 10px;
      }
    }
  }

  .settings {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
      display: flex;
      gap: 15px;
      width: 100%;
      @media screen and (max-width: 700px) {
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}

</style>