<script setup lang="ts">
import DragDropFile from "../DragDropFile.vue";
import {onMounted, Ref, ref, UnwrapRef} from "vue";
import UploadedFileCard from "../UploadedFileCard.vue";
import {FileItem} from "../../api/responses";
import Text from "../Text.vue";
import {getMyFiles} from "../../api";


const files: Ref<UnwrapRef<FileItem[]>> = ref([])

const fetchFiles = async () => {
  const response = await getMyFiles()
  files.value = response.data
}

onMounted(async () => {
  await fetchFiles()
})
</script>

<template>
  <div class="container">
    <DragDropFile/>
    <div class="container-small">
      <div class="files" v-if="files.length > 0">
        <Text align="center" size="xl">Ваши файлы</Text>
        <UploadedFileCard :isSuccessPage="false" v-for="file in files" :key="file.id" :file="file" :delete-callback="fetchFiles"/>
      </div>
    </div>

  </div>

</template>

<style scoped>
.container {
  width: 100%;
  max-width: 1500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media screen and (max-width: 700px) {
    max-width: 500px;
    padding: 0px 20px;
  }

  .container-small {
    width: 700px;
    margin: 0 auto;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
    .files {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 100%;
    }
  }

}
</style>
