<script setup lang="ts">


import {useLoadedFileStore} from "../../store";
import {storeToRefs} from "pinia";
import {computed, onMounted} from "vue";
import UploadedFileCard from "../UploadedFileCard.vue";
import {UploadedFile} from "../../api/responses";
import Text from "../Text.vue";
import {router} from "../../router";

const loadedFileStore = useLoadedFileStore()

const {uploadedFile} = storeToRefs(loadedFileStore)

const file = computed((): UploadedFile => {
  return uploadedFile.value!!
})

onMounted(() => {
  if(!file.value) {
    router.push({name: 'home'})
  }
})

</script>

<template>
  <div class="container">
    <div class="center">
      <Text size="xl">Файл загружен!</Text>
    </div>
    <UploadedFileCard :isSuccessPage="true" :file="file" v-if="file"/>
  </div>

</template>

<style scoped>
.container {
  width: 100%;
  max-width: 700px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media screen and (max-width: 700px) {
    padding: 25px;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
