<script setup lang="ts">
import Text from "../Text.vue";
import Card from "../Card.vue";
import Input from "../Input.vue";
import {ref} from "vue";
import Button from "../Button.vue";
import {router} from "../../router";
import {auth} from "../../api";
import {useRoute} from "vue-router";
import constants from "../../constants.ts";

const password = ref('')
const route = useRoute()


const goHome = async () => {
  await router.push({name: 'home'})
}

const doAuth = async () => {
  const id = route.params.id
  if(typeof id !== 'string') return;

  const response = await auth(id, password.value)

  const token = response?.data?.token
  if(token) {
    window.location.replace(`${constants.baseFileUrl}/${id}?token=${token}`);
    await goHome()
  }
}
</script>

<template>
  <div class="container">
    <Text size="xl">Файл защищен паролем</Text>
    <Card>
      <div class="form-wrap">
        <Input type="password" placeholder="Пароль" v-model="password"/>
        <Button title="Пойду подглядывать" @click="doAuth"/>
      </div>
    </Card>
    <Button title="Загрузить свой файл" @click="goHome"/>
  </div>

</template>

<style scoped>
.container {
  width: 100%;
  max-width: 1500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .form-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    min-width: 350px;
  }

}
</style>
